/* ---------- RESET ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ---------- FUENTES Y COLORES ---------- */
body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: white;
}

/* ---------- HEADER ---------- */


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0b1842;
    color: white;
    padding: 15px 50px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
   
}

.left-nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

.left-nav img {
    width: 40px;
    height: 40px;
    
}

.left-nav h1 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1em;
}

/* ---------- NAV ---------- */
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
    transition: 0.3s;
    font-size: 0.8em;
    font-family: sans-serif;
}

nav a:hover {
    color: #ffd700;
}

/* ---------- HERO SECTION ---------- */

.hero {
    position: relative;
    height: 80vh;
    background: url("/imgs/background_pitagoras.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center -420px;;
    
}
.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px; /* ajusta la altura del degradado */
  background: linear-gradient(to bottom, transparent, #353c4b);
  pointer-events: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 2;
    color: white;
    max-width: 100%;
    padding: 20px;
}

.hero-content h1 {
    font-family: sans-serif;
    font-size: clamp(2rem, 5vw, 3.5rem);
    font-weight: 800;
    margin-bottom: 20px;
}

.hero-content p {
  
    font-size: clamp(1rem, 2.5vw, 1.3em);
    margin-bottom: 25px;
    color: #ddd;
    font-weight: 500;
}

button {
    background-color: #ffd700;
    color: #0b1842;
    border: none;
    padding: 15px 30px;
    font-size: 1.1em;
    font-weight: 600;   
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: #ffcc00;
    transform: scale(1.2);
}
/*---------- INFO SECTION ---------- */
#info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 0 auto;
  background-color: #ffffff;
  color: white;
  padding: 4rem 10%;
  
  box-sizing: border-box;
}

.info-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-left img {
  width: 600px;
  max-width: 500px;
  height: 500px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.info-right {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  max-width: 600px;
  gap: 20px;
}
.info-right h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #0b1842;
}
.info-right p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #716e7c;
  max-width: 600px;
  text-align: left;
}
.info-right button {
  align-self: flex-start; /* Alinea el botón al inicio del contenedor */
  margin-top: 20px;
  padding: 15px 30px;
  color: #0b1842;
}

/* ---------- VALORES SECTION ---------- */
.values-section{
  text-align: center;
  padding: 4rem 10%;
  font-family: 'Poppins', sans-serif;
}

.values-section h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #0b1842;
  font-weight: 800;
}
.values-section h2 span {
  color: #5c6bc0;
  font-style: italic;
}

.intro {
  color: #555;
  max-width: 700px;
  margin: 0 auto 3rem auto;
  font-size: 1.1rem;
}

.value-item {

  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 320px;
  margin : 1rem auto;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* evita desbordamientos */


}
.value-item.reverse{
   flex-direction: reverse;
}
.value-item img {
  width: 400px;
  height: 80%;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.text {
  width: 400px;
  height: 80%;
  padding: 2rem;
  text-align: left;

  }

  .value-item:not(.reverse) img {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.value-item:not(.reverse) .text {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Reversa: imagen derecha, texto izquierda */
.value-item.reverse img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.value-item.reverse .text {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.text.white {
  background-color: #0b1842;
}
.text.white h3 {
  color: white;
}
.text.white p {
  color: #ddd;
}

.text.blue {
  background-color: #d3d5db;
}
.text.blue h3 {
  color: #0b1842;
}
.text.blue p {
  color: #333;
}

.text h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  font-weight: 800;
  text-align: center;
}
.text p {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: left;
  max-width: 400px;
}

/* ---------- FOOTER ---------- */
footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}